<!DOCTYPE html>
{% extends 'header.html' %}
{% load static %}
<html lang="en">
    
    {% block content %}
    <body>
        <!-- Navigation-->
       
        <!-- Header-->
       
        <!-- Section-->
        
    <div class="container" style="height: max-content;  width: 100%!important;">

        <!-- Outer Row -->
        <div class="row justify-content-center" style="width: 50%; margin: auto; height:auto;">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4" style="font-weight: bold; font-size: 20px;">Edit Profile</h1>
                                    </div>
                                    <form method="post" action="{% url 'updateprofile' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="fullname">Full Name:</label>
                                            <input type="text" class="form-control form-control-user" name="fullname" value="{{ profile.fullname }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Address:</label>
                                            <input type="text" class="form-control form-control-user" name="address" value="{{ profile.address }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="dob">Date of Birth:</label>
                                            <input type="date" class="form-control form-control-user" name="dob" value="{{ profile.dob }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="profile_image">Profile Image:</label>
                                            <input type="file" class="form-control form-control-user" name="profile_image"> <br>
                                        </div>

                                        <div class="form-group" style="width: 70%; margin: auto; margin-left: 30%;">
                                             <button type="submit" class="btn btn-primary btn-user btn-block" style="font-size: 18px; width: 60%; margin: auto;">Save Changes</button>
                                        </div>
                                        
                                      </form>
                                    
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
        <!-- Footer-->
        {% include 'footer.html' %}
        
    </body>
    {% endblock content %}
</html>




