<!DOCTYPE html>
{% extends 'header.html' %}
{% load static %}
<html lang="en">
    
    {% block content %}
    <body>
        <style>
            .mt-2 {
            margin-top: 0.5rem!important;
            margin-bottom: -2rem!important;
            width: 30%;
            /* margin-left: 60%!important; */
            margin: auto;
            text-align: center;
            font-size: 15px;
        }
        </style>
        <!-- Navigation-->
       
        <!-- Header-->
       
        <!-- Section-->
        
    <div class="container">

        {% if messages  %}
                <div class="messages mt-2">
                    {% for message in messages %}
                    {% if message.tags %}
                    <div class="alert {{message.tags}}" role="alert">
                        {{message}}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

        <!-- Outer Row -->
        <div class="row justify-content-center" style="width: 70%; margin: auto;">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4" style="font-weight: bold; font-size: 30px;">SignUp</h1>
                                    </div>
                                    <form class="user" method="post" action="{% url 'signup' %}">
                                        {% csrf_token %}
                                     
                                        <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                                            <input type="text" class="form-control form-control-user"
                                                id="username" name="username" placeholder="Enter Your username..." style="width: 60%; margin-left: 20%; font-size: 15px;">
                                        </div>
                                        <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                                            <input type="text" class="form-control form-control-user"
                                                id="fullname" name="fullname" placeholder="Enter Your Full Name..." style="width: 60%; margin-left: 20%; font-size: 15px;">
                                        </div>

                                        <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                                            <input type="email" class="form-control form-control-user"
                                                id="email" name="email" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address..." style="width: 60%; margin-left: 20%; font-size: 15px;">
                                        </div>

                                        
                                        <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                                            <input type="password" class="form-control form-control-user"
                                                id="password" name="password" placeholder="Password" style="width: 60%; margin-left: 20%; font-size: 15px;">
                                        </div>
                                        <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                                            <input type="password" class="form-control form-control-user"
                                                id="password" name="password2" placeholder="Repeat Password" style="width: 60%; margin-left: 20%; font-size: 15px;">
                                        </div>
                                        <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                                            <input type="text" class="form-control form-control-user" 
                                            id="address" name="address" placeholder="Address" style="width: 60%; margin-left: 20%; font-size: 15px;">
                                        </div>

                                        <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                                            <input type="date" class="form-control form-control-user" 
                                            id="dob" name="dob" placeholder="Date of Birth" style="width: 60%; margin-left: 20%; font-size: 15px;">
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                            
                                            </div>
                                        </div> -->
                                      

                                        <div class="form-group"  style="width: 70%; margin: auto; margin-left: 35%;">
                                            <input type="submit" value="Signup" class="btn btn-primary btn-user btn-block " style="font-size: 18px; width: 40%; margin: auto;">
                                        </div>
                                        <hr>
                                    </form>
                                    <hr>
                                    
                                    <div class="text-center">
                                        <a class="lg fw-bold" href="{%url 'login' %}">Already have an account? Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
     
        <!-- Footer-->
        {% include 'footer.html' %}
        
       
    </body>
    {% endblock content %}
</html>





