<!DOCTYPE html>
{% extends 'header.html' %}
{% load static %}
<html lang="en">
    
{% block content %}
<body>
    <!-- Navigation-->
   
    <!-- Header-->
   
    <!-- Section-->
    
<div class="container" style="  width: 100%!important; margin-bottom: 5%;">

    <!-- Outer Row -->
    <div class="row justify-content-center" style="width: 50%; margin: auto; height:auto;">
        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4" style="font-weight: bold; font-size: 20px;">Voting Categories</h1>
                                </div>
                               
                                {% for category in categories %}
                                    <div>
                                        <h6>{{ category.name }}</h6>
                                        {% if request.user.is_superuser %}
                                            <a class="btn btn-danger btn-sm" href="{% url 'votingcategory-delete' category.id %}" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a>
                                        {% endif %} <hr>
                                    </div>
                                {% endfor %}
                              
                                <div class="text-center" style="margin-top: 40px;">
                                  <a class="btn btn-primary btn-user btn-block " style="text-decoration: none; width: 35%; margin: auto; " href="{%url 'votingcategory-create' %}">Add category</a>
                                </div>
                              
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
 
    <!-- Footer-->
    {% include 'footer.html' %}
    
   
</body>
{% endblock content %}
</html>
